.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

#listHorizontal ul {
  display: flex;
  margin: 0;
  padding: 0;
  color:#ffff;
  width: 100%;
  list-style-type: none;
}

#listHorizontal li {
 margin:0 0.8%;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited { 
  text-decoration: none;
  color:black;
}

a:focus { 
  text-decoration: none;
  color:#e60012;
}

a:hover, a:active { 
  text-decoration: none;
  color:#e60012
}
